body{background-color:gainsboro}
h1{font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    font-size: 100px;
    text-align: center;}
h2{color:rgb(13, 84, 43);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 50px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;}
h5{font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;}
h6{font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
    text-align: center;}
p{font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;}
a{color:rgb(13, 84, 43);
    font-size: 20px;}
.logo-img{height: 60px;}
.img1{margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;}
.img2{margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;}
.heading{background-color: rgb(13, 84, 43);
        padding-top: 20px;
        padding-bottom: 20px;}
span{text-align: center;}
.img-txt1{display: flex;
    gap: 20px;
    align-items: flex-start;}
.txtside1{flex: 1;}
.imgside1{flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;}
.imgside1 img{width: 75%;
        height: auto;}